.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  top: 30px;
  width: 200px;
  left: 200px;
  border-left: 1px solid white;
}

.role_name {
  text-align: center;
  font-size: 14px;
}
