.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  outline: none;
  border: none;
  box-shadow: 0 0 10px 2px black;
  padding: 12px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 999;
}

.blur {
  backdrop-filter: blur(5px);
}

.darken {
  background-color: rgba(0, 0, 0, 0.25);
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  filter: invert(90%) sepia(56%) saturate(0%) hue-rotate(74deg) brightness(108%)
    contrast(101%);
}

.input {
  display: flex;
  width: 300px;
  border-radius: 4px;
  margin-inline: 40px;
  margin-block: 4px;
  background-color: rgba(0, 0, 0, 0.25);
}

.input_field {
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
  width: 300px;
  padding: 4px;
  background: transparent;
}

.toggle_password {
  position: relative;
  translate: 0 25%;
  right: 5px;
  cursor: pointer;
}

.title {
  text-align: center;
  color: white;
  font-size: 26px;
  margin-block: 4px;
  padding: 4px;
  padding-inline: 24px;
  margin-bottom: 12px;
}

.button {
  cursor: pointer;
  text-align: center;
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
  width: 292px;
  border-radius: 4px;
  margin-inline: 40px;
  margin-block: 4px;
  padding: 4px;
  transition: all 0.2s ease-in-out;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.25);
  &:hover {
    box-shadow: inset 0 0 10px -2px black;
  }
}

.list {
  margin-left: 35%;
  display: flex;
  color: white;
  font-size: 18px;
  margin-block: 4px;
  padding: 4px;
  margin-bottom: 12px;
}

.text {
  color: white;
  font-size: 16px;
  padding: 4px;
  text-align: center;
}

.checkbox {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 292px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-inline: 40px;
  margin-block: 4px;
  padding: 4px;
}

.file_select {
  text-align: center;
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
  width: 292px;
  border-radius: 4px;
  margin-inline: 40px;
  margin-block: 4px;
  padding: 4px;
  transition: all 0.2s ease-in-out;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.25);
  &:hover {
    box-shadow: inset 0 0 10px -2px black;
  }
}

#delete {
  color: firebrick;
  background-color: white;
}

.dropdown_container {
  position: relative;
  width: 282px;
  min-height: 1.5em;
  border: 0.05em solid #777;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  border-radius: 0.25em;
  outline: none;
  &:focus {
    border-color: hsl(200, 100%, 50%);
  }
}

.dropdown_value {
  flex-grow: 1;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

.dropdown_clear_button {
  background: none;
  color: #777;
  border: none;
  outline: none;
  padding: 0;
  font-size: 1.25em;
  cursor: pointer;
  &:hover {
    color: #555;
  }
}

.dropdown_divider {
  background-color: #777;
  align-self: stretch;
  width: 0.05em;
}

.dropdown_caret {
  translate: 0 25%;
  border: 0.25em solid transparent;
  border-top-color: #777;
}

.dropdown_options {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  max-height: 15em;
  overflow-y: auto;
  border: 0.05em solid #777;
  border-radius: 0.25em;
  width: 100%;
  left: 0;
  top: calc(100% + 0.25em);
  background-color: white;
  color: black;
  z-index: 100;
  &.show {
    display: block;
  }
}

.dropdown_option {
  padding: 0.25em 0.5em;
  cursor: pointer;
  &.selected {
    background-color: hsl(200, 100%, 70%);
  }
  &.highlighted {
    background-color: hsl(200, 100%, 50%);
    color: white;
  }
}

.option_badge {
  display: flex;
  align-items: center;
  border: 0.05em solid #777;
  border-radius: 0.25em;
  padding: 0.15em 0.25em;
  gap: 0.25em;
  background: none;
  color: white;
  outline: none;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: rgba(255, 131, 131, 0.52);
    border-color: hsl(0, 100%, 40%);
    .dropdown_remove_button {
      color: hsl(0, 100%, 40%);
    }
  }
}

.dropdown_remove_button {
  font-size: 1.25em;
  color: #777;
}
.color_picker {
  margin-inline: 40px;
  margin-block: 4px;
  padding: 4px;
  width: 292px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  label {
    cursor: pointer;
  }
}

.color_picker_picker {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
