.wrapper {
  position: absolute;
  padding: 5px;
  width: 100%;
  display: flex;
  bottom: 0;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

.add_server {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease-in-out;
  & img {
    filter: invert(90%) sepia(56%) saturate(0%) hue-rotate(74deg)
      brightness(108%) contrast(101%);
  }
  &:hover {
    box-shadow: inset 0 0 10px -2px black;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
