.messages {
  width: 100%;
  height: calc(100vh - 130px);
  overflow-y: scroll;
}
.message {
  padding: 5px 0 5px 5px;
  margin-block: 2px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.pfp {
  position: relative;
  top: 0;
  border-radius: 4px;
}
.content {
  padding-left: 5px;
}
.name {
  font-weight: 800;
  font-size: 14px;
}
.msg {
  font-size: 12px;
  word-break: keep-all;
}
.chat {
  position: absolute;
  width: calc(100% - 400px);
  height: calc(100vh - 50px);
  background-color: rgba(0, 0, 0, 0.4);
}

.input {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
}
.input_field {
  border-radius: 4px;
  border: 1px solid gray;
  color: white;
  background: transparent;
  padding-inline: 10px;
  padding-block: 7px;
  word-break: keep-all;
  width: 90%;
  resize: none;
  outline: none;
}
.input_button {
  right: 5%;
  top: 50%;
  translate: 0 -50%;
  position: absolute;
  outline: none;
  border: none;
  background: transparent;
  color: white;
  background-color: rgba(220, 20, 60, 0.4);
  transition: all 0.2s ease-in-out;
  padding-block: 5px;
  padding-inline: 10px;
  border-radius: 50px;
  cursor: pointer;
  &:hover {
    background-color: rgba(220, 20, 60, 0.6);
  }
}

.context_menu {
  position: fixed;
  z-index: 10000;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  transform-origin: top left;
  transition: transform 0.1s ease;
  &_item {
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
    cursor: pointer;
    border-radius: inherit;
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}

.tc_name {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px -2px black;
  width: calc(100% - 10px);
  padding-left: 10px;
  height: 40px;
  font-size: 24px;
}
