.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0;
  height: 100vh;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.4);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.options {
  position: absolute;
  width: 100%;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.option_categories {
  top: 5px;
  left: calc(100% - 100px);
  position: sticky;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.option_category {
  background-color: black;
  padding-block: 5px;
  padding-inline: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    box-shadow: inset 0 0 15px -2px black;
    background-color: rgba(0, 0, 0, 0);
  }
}

#no_hover {
  box-shadow: none;
  background-color: none;
}

#gap {
  height: 10px;
}

#separator {
  margin-block: 5px;
  height: 1px;
  width: 100%;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.5);
}
