@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

html,
body {
  --primary-color: rgb(40, 40, 40);
  --bg: url("/background.svg");
  --primary-color: #faebd7;
  --scroll-thumb: #828282;
  --scroll-bar: #252525;
  --primary-font: "Dosis";
  --user-select: none;

  background-color: var(--primary-color);
  font-family: var(--primary-font);
  user-select: var(--user-select);
  color: var(--primary-color);

  scroll-margin-bottom: 200px;
  scroll-behavior: smooth;
  overflow: hidden;
  font-weight: 500;
}
* {
  font-family: var(--primary-font);
  font-weight: 500;
  padding: 0;
  margin: 0;
}

#__next {
  background-image: var(--bg);

  background-size: cover;
  height: 100vh;
  width: 100%;
}

::-webkit-scrollbar {
  background-color: var(--scroll-bar);

  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);

  border-radius: 50px;
}
