@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

html,
body {
  --primary-color: rgb(40, 40, 40);
  padding: 0;
  margin: 0;
  font-family: "Dosis";
  font-weight: 500;
  background-color: var(--primary-color);
  color: #faebd7;
  user-select: none;
  scroll-behavior: smooth;
  scroll-margin-bottom: 200px;
  overflow: hidden;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Dosis";
  font-weight: 500;
}

#__next {
  height: 100vh;
  width: 100%;
  background-image: url("/background.svg");
  background-size: cover;
}

::-webkit-scrollbar {
  height: 4px;
  background-color: #252525;
}

::-webkit-scrollbar-thumb {
  background-color: #828282;
}
